body {
    background-image: url(../images/skull6.jpg);
    
}

html body div.jumbotron.jumbotron-fluid {
    font-family: 'Nosifer', cursive;
    text-align: center;
    color: #ebebeb;
}

p {
    color: #ebebeb;
   
}

html body div.card.text-white.bg-primary.mb-3 {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    text-align: center;
    
}

.crystal {
    border:1px solid #ebebeb;
    height: 125px;
    width: 135px; 
}

.crystals {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

html body div.crystals div.crystal {
    
    background: url(../images/skull8.jpg) no-repeat;
    background-size: contain;
    
}


#win, #lost, html body p#previous, html body p#result {
    
    text-align: center;
    color: #ebebeb;
    font-size: 150%;
}

html body div.jumbotron.jumbotron-fluid {
    background: url(../images/skull6.jpg);
}

html body div.card.text-white.bg-primary.mb-3 div.card-body {
    background: black;
}

html body div.card.text-white.bg-primary.mb-3 div.card-header{
    background: tan;
}